.site-main {
  &__content {
    @include max-width;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'main'
      'aside';
    gap: var(--s);
    padding: var(--s05);

    @include medium {
      padding: var(--s);
    }

    @include large {
      grid-template-columns: 1fr 2fr;
      grid-template-areas: 'aside main';
      gap: var(--s);
    }
  }
}

.main-content-wrapper {
  grid-area: main;
}

.aside-wrapper {
  grid-area: aside;
}
