<header class="site-header">
  <div class="site-header__branding">
    <img src={{logo}} alt="" class="site-header__logo">
  </div>
  <div class="site-header__nav">
    <nav class="nav-primary">
      <ul class="nav-primary__ul">
        <li class="nav-primary__li">
          <a class="nav-primary__link" href="#">Rules</a>
        </li>
        <li class="nav-primary__li">
          <a class="nav-primary__link" href="#">Games &amp; Products</a>
        </li>
        <li class="nav-primary__li">
          <a class="nav-primary__link" href="#">Podcasts &amp; Videos</a>
        </li>
        <li class="nav-primary__li">
          <a class="nav-primary__link" href="#">Community</a>
        </li>
        <li class="nav-primary__li">
          <a class="nav-primary__link" href="#">Downloads</a>
        </li>
      </ul>
      <a href="#" class="nav-primary__search">
        Search
        {% include "@components/icons/_icon.twig" with {
          icon_name: 'search',
        } %}
      </a>
    </nav>
  </div>
</header>