<header class="site-header">
  <div class="site-header__branding">
    <img src={{logo}} alt="" class="site-header__logo">
  </div>
  <div class="site-header__nav">
    <nav class="nav-primary">
      <ul class="nav-primary__ul">
        <li class="nav-primary__li has-nav-flyout">
          <a class="nav-primary__link " href="#">
            <i class="far fa-book"></i>
            Rules
            </a>
            <div class="nav-flyout">
              <dl class="nav-flyout__region">
                <dt>Core Rules</dt>
                <dd><a href="#">Fate Core</a></dd>
                <dd><a href="#">Fate Accelerated</a></dd>
                <dd><a href="#">Fate Condensed</a></dd>
              </dl>

              <dl class="nav-flyout__region">
                <dt>Toolkits</dt>
                <dd><a href="#">Fate System Toolkit</a></dd>
                <dd><a href="#">Fate Adversary Toolkit</a></dd>
              </dl>

              <dl class="nav-flyout__region">
                <dt>Fate Books</dt>
                <dd><a href="#">Atomic Robo</a></dd>
                <dd><a href="#">Venture City</a></dd>
                <dd><a href="#">War of Ashes</a></dd>
              </dl>

              <dl class="nav-flyout__region">
                <dt>Worlds of Adventure</dt>
                <dd><a href="#">Frontier Spirit</a></dd>
                <dd><a href="#">Gods and Monsters</a></dd>
                <dd><a href="#">Sails Full of Stars</a></dd>
                <dd><a href="#">Three Rocketeers</a></dd>
              </dl>

              <dl class="nav-flyout__region">
                <dt>Fate Codex</dt>
                <dd><a href="#">Volume 1</a></dd>
                <dd><a href="#">Volume 2</a></dd>
                <dd><a href="#">Volume 3</a></dd>
              </dl>

              <dl class="nav-flyout__region">
                <dt>Odds &amp; Ends</dt>
                <dd><a href="#">Odds &amp; Ends</a></dd>
              </dl>
            </div>
        </li>
        <li class="nav-primary__li">
          <a class="nav-primary__link" href="#">
            <i class="far fa-treasure-chest"></i>
            Games &amp; Products
          </a>
        </li>
        <li class="nav-primary__li">
          <a class="nav-primary__link" href="#">
            <i class="far fa-head-side-headphones"></i>
            Podcasts &amp; Videos
          </a>
        </li>
        <li class="nav-primary__li">
          <a class="nav-primary__link" href="#">
            <i class="far fa-comments fa-swap-opacity"></i>
            Community
          </a>
        </li>
        <li class="nav-primary__li">
          <a class="nav-primary__link" href="#">
            <i class="far fa-folder-download"></i>
            Downloads
          </a>
        </li>
      </ul>
      <a href="#" class="nav-primary__search">
        <i class="fas fa-search"></i>
        Search
      </a>
    </nav>
  </div>
</header>