.site-header {
  background: var(--color-blue-dark);

  &__branding,
  &__nav .nav-primary {
    margin: 0 auto;
    max-width: var(--max-width);
  }

  &__branding {
    padding: var(--s) 0;
    position: relative;
    min-height: calc(50px + (var(--s) * 2.5));
  }

  &__logo {
    position: absolute;
    top: var(--s);
    left: -45px;
  }


  &__nav {
    background: var(--color-blue-darker);
    position: relative;
    z-index: 100;
  }
}

.nav-primary {
  color: var(--color-white);
  display: flex;
  flex-flow: row nowrap;

  &__ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  &__li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    display: inline-block;
    color: var(--color-white);
    font-size: 1.375rem;
    font-weight: bold;
    padding: var(--s05) var(--s);
    text-decoration: none;
    transition: all .25s;

    &:hover {
      background: var(--color-blue-darkestest);
      border-radius: 6px;
    }

    i {
      opacity: 0.4;
    }
  }

  &__search {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-size: 1.375rem;
    font-weight: bold;
    padding: var(--s);
    text-decoration: none;
    transition: all .15s;

    &:hover {
      background: var(--color-blue-darkest);
    }

    .icon {
      margin-left: var(--s05);
      width: 22px;
      height: 20px;
    }
  }
}


// <header class="site-header">
//   <div class="site-header__content">
//     <div class="site-header__branding">
//     <img src={{logo}} alt="">
//     </div>
//     <div class="site-header__nav">
//       <nav class="nav-primary">
//         <ul>
//           <li><a href="#">Rules</a></li>
//           <li><a href="#">Games &amp; Products</a></li>
//           <li><a href="#">Podcasts &amp; Videos</a></li>
//           <li><a href="#">Community</a></li>
//           <li><a href="#">Downloads</a></li>
//         </ul>
//       </nav>
//     </div>
//   </div>
// </header>
