@mixin navLink {
  background: transparent;
  color: var(--color-white);
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  padding: var(--s05) var(--s);
  text-decoration: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  transition: all 0.25s;

  @media (prefers-reduced-motion) {
    transition: none;
  }

  @include navLarge {
    flex-flow: row nowrap;
    font-size: 1.375rem;
    padding: var(--s05) var(--s);
  }

  &:hover {
    background: var(--color-blue-darkestest);
  }
}

.site-header {
  background: var(--color-blue-dark);

  &__branding,
  &__nav .nav-primary {
    @include max-width;
  }

  &__branding {
    padding: var(--s05) var(--s);
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    @include medium {
      padding: calc(var(--s) * 1.25) var(--s);
    }

    @include large {
      padding: calc(var(--s) * 1.5) var(--s);
    }

    &__menu-toggle {
      margin-left: auto;
      color: var(--color-white);
      font-size: 2rem;

      @include medium {
        display: none;
      }
    }
  }

  &__logo {
    display: block;
    width: 50vw;

    @include medium {
      width: 25vw;
    }

    @include large {
      width: 18vw;
    }
  }

  &__nav {
    background: var(--color-blue-darker);
    position: relative;
    z-index: 100;
  }
}

.nav-primary {
  display: none;
  color: var(--color-white);

  @include beforeMedium {
    flex-flow: column nowrap;
    padding: var(--s) 0;

    &.nav-primary--open {
      display: flex;
      background: var(--color-blue-darker);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      overflow: scroll;
      padding-top: 60px;
    }

    &__ul {
      margin: 0;
      padding: var(--s025) 0;
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
    }

    &__li {
      margin: 0 var(--s025);
      padding: 0;
      list-style: none;
    }

    &__link {
      @include navLink;

      display: grid;
      grid-template-columns: 40px 1fr;
      grid-template-rows: auto;
      gap: var(--s05);
      font-size: 1.5rem;
      padding: var(--s05) var(--s);

      &:hover {
        background: none;

        .nav-primary__link-icon {
          opacity: 0.8;
        }
      }

      &-icon {
        display: block;
        opacity: 0.4;
        font-size: 2rem;
        margin-bottom: var(--s025);
        width: 37px;
        text-align: center;
        transition: all 0.15s;

        @media (prefers-reduced-motion) {
          transition: none;
        }
      }
    }

    .has-nav-flyout.open {
      .nav-primary__sub__mobile-toggle {
        &.minus {
          display: inline;
        }

        &.plus {
          display: none;
        }
      }
    }

    &__sub {
      cursor: pointer;

      &__mobile-toggle {
        margin-left: var(--s05);
      }

      .minus {
        display: none;
      }
    }
  }

  @include medium {
    display: flex;
    flex-flow: row nowrap;

    &__sub__mobile-toggle {
      display: none;
    }

    &__ul {
      margin: 0;
      padding: var(--s025) 0;
      display: flex;
      align-items: stretch;
      width: 100%;
      gap: 4px;
    }

    &__li {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-basis: min-content;

      &--search {
        margin-left: auto;
      }
    }

    &__link {
      @include navLink;

      white-space: nowrap;

      &-icon {
        opacity: 0.4;
        font-size: 2rem;
        margin-bottom: var(--s025);

        @include navLarge {
          margin: 0 var(--s05) 0 0;
        }
      }
    }
  }
}

.nav-flyout {
  display: none;

  @include beforeMedium {
    .open & {
      display: block;
    }

    margin-bottom: var(--s);
    background: var(--color-gray-light);
    padding: var(--s);
    border-radius: var(--border-radius);
    column-count: 2;
    column-gap: var(--s2);
    column-rule: 1px solid var(--color-gray-medium);

    &--simple {
      column-count: 1;
      column-rule: none;
      width: auto;
    }

    &__region {
      display: inline-block;
      margin: 0 0 var(--s);
      padding-bottom: var(--s025);
      border-bottom: 1px solid var(--color-gray-medium);
      width: 100%;

      &:nth-child(3n) {
        margin-bottom: 0;
        border-bottom: none;
      }

      &--simple {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    dt {
      margin: 0 0 var(--s05);
      color: var(--color-dark);
      font-weight: bold;
      font-size: 0.875rem;
      line-height: 1.2;
      text-transform: uppercase;
    }

    dd {
      margin: 0 0 var(--s05);
      display: block;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.2;
    }

    a {
      color: var(--color-blue-dark);
      text-decoration: none;
      transition: all 0.15s;

      @media (prefers-reduced-motion) {
        transition: none;
      }

      &:hover {
        color: var(--color-blue-darker);
        text-decoration: underline;
      }
    }
  }

  @include medium {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    position: absolute;
    top: 75px;
    left: var(--s05);
    width: 636px;
    background: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.37),
      0 41.7776px 33.4221px rgba(0, 0, 0, 0.265976),
      0 22.3363px 17.869px rgba(0, 0, 0, 0.22056),
      0 12.5216px 10.0172px rgba(0, 0, 0, 0.185),
      0 6.6501px 5.32008px rgba(0, 0, 0, 0.14944),
      0 2.76726px 2.21381px rgba(0, 0, 0, 0.104024);
    padding: var(--s2);
    column-count: 2;
    column-gap: var(--s2);
    column-rule: 1px solid var(--color-gray-medium);
    transition: all 0.15s ease;

    @media (prefers-reduced-motion) {
      transition: none;
    }

    &--simple {
      column-count: 1;
      column-rule: none;
      width: auto;
    }

    @include large {
      top: 60px;
      left: 0;
    }

    &::after {
      content: '';
      position: absolute;
      width: 36.5px;
      height: 36.5px;
      top: -3px;
      left: 12px;
      background: #fff;
      border-radius: 2px;
      transform: matrix(0.71, 0.69, -0.73, 0.71, 0, 0);
    }

    &__region {
      margin: 0 0 calc(var(--s) * 1.5);
      padding-bottom: var(--s);
      border-bottom: 1px solid var(--color-gray-medium);

      &:nth-child(3n) {
        margin-bottom: 0;
        border-bottom: none;
      }

      &--simple {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    dt {
      margin-bottom: var(--s05);
      color: var(--color-dark);
      font-weight: bold;
      font-size: 0.875rem;
      text-transform: uppercase;
    }

    dd {
      margin: 0 0 var(--s05);
      display: block;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.1;
    }

    a {
      color: var(--color-blue-dark);
      text-decoration: none;
      transition: all 0.15s;
      white-space: nowrap;

      &:hover {
        color: var(--color-blue-darker);
        text-decoration: underline;
      }
    }
  }
}

.has-nav-flyout {
  position: relative;

  &:focus-within .nav-flyout {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  &:hover {
    .nav-flyout {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.site-header__branding--inside {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  .nav-primary--open & {
    display: flex;
  }
}
