.store-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--s4);

  @include large {
    grid-template-columns: 1fr 1fr;
  }
}

.main-content-wrapper .store-card {
  display: flex;
  flex-flow: column nowrap;
  border-radius: var(--border-radius-small);
  box-shadow: 0 2.8px 2.2px 0 rgba(0, 0, 0, 0.06),
    0 6.7px 5.3px 0 rgba(0, 0, 0, 0.08), 0 12.5px 10px 0 rgba(0, 0, 0, 0.1),
    0 22.3px 17.9px 0 rgba(0, 0, 0, 0.13), 0 41.8px 33.4px 0 rgba(0, 0, 0, 0.15),
    0 100px 80px 0 rgba(0, 0, 0, 0.21);
  background-color: #ffffff;
  transform: scale(1);
  transition: all 0.15s;

  &:hover {
    transform: scale(1.025);
    z-index: 100;

    .store-card__image {
      transform: scale(1.15) rotate(1deg);
    }
  }

  &__image-content {
    height: 300px;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 var(--s2) var(--s2);
    position: relative;
  }

  &__image {
    box-shadow: 0 2.8px 2.2px 0 rgba(0, 0, 0, 0.06),
      0 6.7px 5.3px 0 rgba(0, 0, 0, 0.08), 0 12.5px 10px 0 rgba(0, 0, 0, 0.1),
      0 22.3px 17.9px 0 rgba(0, 0, 0, 0.13),
      0 41.8px 33.4px 0 rgba(0, 0, 0, 0.15);
    max-height: 300px;
    transition: all 0.15s;
    transform: scale(1.05) rotate(1deg);
  }

  &__button {
    display: block;
    background: var(--color-blue);
    border-radius: var(--border-radius-small);
    color: var(--color-white) !important;
    font-weight: 800;
    text-decoration: none;
    padding: var(--s05) var(--s);
    align-self: flex-start;
    text-transform: uppercase;
    margin-bottom: var(--s05);
    width: max-content;

    &:hover {
      background: var(--color-blue-dark);
    }

    &--small {
      font-size: 0.9rem;
      font-weight: 600;
    }
  }

  .gumroad-button {
    color: var(--font-color) !important;
    width: max-content;
  }

  &__also-available {
    @include listResetUl();

    display: flex;
    flex-flow: row nowrap;
    gap: var(--s);

    li {
      @include listResetLi();
    }

    img {
      max-width: 110px;
    }

    &__link {
      display: block;
      width: 110px;
      height: 25.3px;
      text-indent: -5000px;

      &[href^="https://www.drivethrucards.com"],
      &[href^="https://www.drivethrurpg.com"]
      {
        background: url('../images/store/store-buy-dtr.png') top left no-repeat;
        background-size: contain;
      }

      &[href^="https://amazingrando.itch.io"]
      {
        background: url('../images/store/store-buy--itch.png') top left
          no-repeat;
        background-size: contain;
      }
    }
  }
}
