// These styles only affect the colors "Usage" page in the component library
.cl-colors {
  padding: 1rem;
}

.cl-colors__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.cl-colors__item {
  border: 6px solid #fff;
  border-radius: 4px;
  min-height: 200px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cl-colors__title {
  display: block;
  background: #FFF;
  color: black;
  text-align: center;
  width: 100%;
}

// Dynamically set swatch text color based on the lightness of the background color
@function set-color($color,
  $text-primary: accent-high,
  $text-secondary: muted) {
  @if (lightness($color) > 50) {
    @return clr($text-primary);
  }

  @else {
    @return clr($text-secondary);
  }
}

// Style Fate color swatches
@each $name,
$color in $fateColors {
  .cl-colors__item--fate {
    &-#{$name} {
      background-color: clr($name);
      color: set-color($color);
    }
  }
}

// Style default color swatches
@each $name,
$color in $defaultColors {
  .cl-colors__item--default {
    &-#{$name} {
      background-color: clr($name);
      color: set-color($color);
    }
  }
}

// Style dark color swatches
@each $name,
$color in $darkColors {
  .cl-colors__item--dark {
    &-#{$name} {
      background-color: clr($name);
      color: set-color($color, muted, accent-high);
    }
  }
}
