<section class="announcement">
  <span role="img" aria-label="rotating light">🚨</span>
  <strong>No Internet? No Problem.</strong>
  The site now works offline.
  <a href="https://twitter.com/Fate_SRD/status/1412766735586021377">Read more</a>
  <button class="announcement__close">Close
    <i class="fas fa-times announcement__close__icon"></i>
  </button>
</section>
