.toc {
  @include calloutBoxes;

  background: var(--color-white);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-gray-medium);
  font-size: 1rem;
  padding-bottom: var(--s);
  transition: all 0.15s;

  @media (prefers-reduced-motion) {
    transition: none;
  }

  @include medium {
    float: right;
    margin-left: var(--s);
    padding-bottom: var(--s);
    width: 40%;
  }

  &__header {
    color: var(--color-dark);
    margin: 0;
    text-transform: uppercase;
  }
}

.toc__ul {
  margin-top: var(--s);
}
