<div classname="toc">
  <h5 classname="toc__header">Table of Contents</h5>
  <ul>
    <li><a href="#">Situation Aspects</a></li>
    <li><a href="#">Situation Aspects & Zones In Mental Conflicts</a></li>
    <li><a href="#">Zones</a></li>
  </ul>
</div>
