:root {
  --color-white: #fff;
  --color-blue: #1B75BC;
  --color-blue-dark: #15598F;
  --color-blue-darker: #0D436D;
  --color-blue-darkest: #0A3B62;
  --color-blue-darkestest: #063255;
  --color-blue-light: #DBEFFF;
  --color-gray-dark: #434343;
  --color-gray-medium: #e5e5e5;
  --color-gray-light: #F9F9F9;
  --color-yellow: #FFEA9F;
  --color-yellow-light: #FFF8B9;
  --color-yellow-dark: #95813A;
  --color-dark: var(--color-gray-dark);
  --color-patreon-orange: #E85B46;
}
