@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

:root {
  --font-sans-serif: 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
  --font-inter: 'Inter', var(--font-sans-serif);
  --font-base: var(--font-inter);
}

$font-path: '../fonts';

@font-face {
  font-family: 'fate';
  src: url('#{$font-path}/fate_core_font-webfont.eot');
  src: url('#{$font-path}/fate_core_font-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-path}/fate_core_font-webfont.woff') format('woff'),
    url('#{$font-path}/fate_core_font-webfont.ttf') format('truetype'),
    url('#{$font-path}/fate_core_font-webfont.svg#fate_core_glyphsregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

span.fate_font {
  font-family: 'fate', sans-serif;
  font-weight: normal;

  &.big {
    font-size: 2em;
    line-height: 1.2em;
  }
}
