.aspect {
  background: #fff8b9;
  background-image: linear-gradient(
    to right,
    #fff386 0%,
    #fff8b9 60%,
    #fff386 100%
  );
  border-radius: 2px;
  font-style: italic;
  font-size: 1.0625rem;
  font-family: sketchnote-text, sans-serif;
}
