.noscroll {
  overflow: hidden;
}

.hide {
  display: none;
}

@mixin buttonReset() {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
