.ap-card {
  &__ul {
    @include listResetUl;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--s2);

    li {
      @include listResetLi;
    }
  }

  &__img {
    max-width: 50%;
  }

  &__title {
    margin-top: var(--s05);
    margin-bottom: var(--s05);

    a {
      text-decoration: none;
    }
  }
}
