<footer class="site-footer">
  <div class="site-footer__content">
    <div class="site-footer__logo-wrapper">
      <img src={{logo}} alt="" class="site-footer__logo">
    </div>
    <a href="" class="site-footer__patreon">
      <img src={{patreon}} alt="" class="site-footer__patreon-img">
    </a>
    <nav class="site-footer__nav">
      <ul class="site-footer__ul">
        <li class="site-footer__li">
          <a class="site-footer__link" href="/about-site">About This Site</a>
        </li>
        <li class="site-footer__li">
          <a class="site-footer__link" href="/contact-us">Contact Us</a>
        </li>
        <li class="site-footer__li">
          <a class="site-footer__link" href="/official-licensing-fate">Official Licensing</a>
        </li>
        <li class="site-footer__li">
          <a class="site-footer__link" href="/privacy-policy">Privacy Policy</a>
        </li>
        <li class="site-footer__li">
          <a class="site-footer__link" href="https://twitter.com/Fate_SRD">Fate SRD on Twitter</a>
        </li>
        <li class="site-footer__li">
          <a class="site-footer__link" href="https://datastudio.google.com/open/1BkbV6PR0sUJMQOJrIOQ5bN3PGt3u4Jky">Site
                                    Stats</a>
        </li>
      </ul>
      <ul class="site-footer__ul">
        <li class="site-footer__li">
          <a class="site-footer__link" href="/about-site">About This Site</a>
        </li>
        <li class="site-footer__li">
          <a class="site-footer__link" href="/contact-us">Contact Us</a>
        </li>
        <li class="site-footer__li">
          <a class="site-footer__link" href="/official-licensing-fate">Official Licensing</a>
        </li>
        <li class="site-footer__li">
          <a class="site-footer__link" href="/privacy-policy">Privacy Policy</a>
        </li>
        <li class="site-footer__li">
          <a class="site-footer__link" href="https://twitter.com/Fate_SRD">Fate SRD on Twitter</a>
        </li>
        <li class="site-footer__li">
          <a class="site-footer__link" href="https://datastudio.google.com/open/1BkbV6PR0sUJMQOJrIOQ5bN3PGt3u4Jky">Site
                                    Stats</a>
        </li>
      </ul>
    </nav>
    <div class="site-footer__legal">
      <div class="content">
        <p>This site is copyright 2013–2019&nbsp;<a href="http://randyoest.com">Amazing Rando Design</a>, except where
                              otherwise noted. It is only possible because of the generous nature of Evil Hat Productions, LLC, who, in
                              their wisdom, opened up the system to improve the Fate RPG ecosystem. Give them monies.</p>
        <p>This site is not affiliated with Evil Hat Productions, LLC.</p>
        <p>This work is based on
          <a href="http://www.faterpg.com/">Fate Core System</a>
          and Fate Accelerated Edition,
                              products of Evil Hat Productions, LLC, developed, authored, and edited by Leonard Balsera, Brian Engard,
                              Jeremy Keller, Ryan Macklin, Mike Olson, Clark Valentine, Amanda Valentine, Fred Hicks, and Rob Donoghue, and
                              licensed for our use under the
          <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons
                                    Attribution 3.0 Unported license</a>.</p>
        <p>Fate™ is a trademark of Evil Hat Productions, LLC. The Powered by Fate logo is © Evil Hat Productions, LLC
                              and is used with permission.</p>
        <p>The Fate Core font is © Evil Hat Productions, LLC and is used with permission. The Four Actions icons were
                              designed by Jeremy Keller.</p>
        <p>This work is based on
          <a href="http://www.faterpg.com/">Fate Condensed</a>
          (found at
          <a href="http://www.faterpg.com/">http://www.faterpg.com/</a>), a product of Evil Hat Productions, LLC,
                                  developed, authored, and edited by PK Sullivan, Ed Turner, Leonard Balsera, Fred Hicks, Richard Bellingham,
                                  Robert Hanz, Ryan Macklin, and Sophie Lagacé, and licensed for our use under the
          <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported license</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
