.site-footer {
  background: rgba(46, 45, 45, 0.6);
  color: var(--color-white);
  position: relative;

  &__logo-wrapper {
    margin-bottom: var(--s2);
    width: 275px;
    height: 50px;
    position: relative;
    grid-area: logo;
    align-self: center;

    @include footerLarge {
      margin-bottom: 0;
    }
  }

  &__logo {
    display: block;
    width: 250px;

    @include medium {
      width: 250px;
    }
  }

  &__content {
    @include max-width;

    padding: var(--s3) var(--s) var(--s5);

    @include footerLarge {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: var(--s3);
      grid-template-areas:
        'logo patreon email email'
        'nav nav email email'
        'legal legal legal legal';
    }
  }

  &__patreon {
    display: block;
    margin-bottom: var(--s2);
    position: relative;
    grid-area: patreon;
    align-self: center;

    @include footerLarge {
      margin: 0;
    }
  }

  &__patreon-img {
    display: block;
    max-width: 177px;
  }

  &__nav {
    margin-bottom: var(--s2);
    position: relative;
    grid-area: nav;

    @include medium {
      display: flex;
      gap: 4rem;
    }
  }

  &__ul {
    margin: 0;
    padding: 0;
  }

  &__li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    display: inline-block;
    color: var(--color-white);
    font-weight: 700;
    text-decoration: none;
    padding: var(--s05) var(--s05) var(--s05) 0;
    transition: all 0.15s;

    @media (prefers-reduced-motion) {
      transition: none;
    }

    &:hover {
      color: var(--color-yellow-light);
      text-decoration: underline;
    }
  }

  &__legal {
    font-size: 0.8125rem;
    grid-area: legal;

    a {
      color: var(--color-yellow-light);
      text-decoration: none;
      transition: all 0.15s;

      @media (prefers-reduced-motion) {
        transition: none;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin-bottom: var(--s05);
    }
  }

  &__email {
    grid-area: email;
    text-align: center;

    h3 {
      color: var(--color-white);
      margin-top: 0;
    }

    &__signup {
      background: rgba(255, 255, 255, 0.8);
      min-height: 300px;
    }
  }
}
