.patreon-bar {
  display: none;
  background: var(--color-patreon-orange);
  color: var(--color-white);
  font-weight: bold;
  text-transform: uppercase;

  &__inner {
    @include max-width;

    display: flex;
    flex-flow: column wrap;
    padding: var(--s05) var(--s);
    position: relative;

    @include large {
      flex-flow: row nowrap;
      align-items: center;
    }
  }

  &.patreon-bar--show {
    display: block;
  }
}

.patreon-bar__logo {
  display: block;
  margin: 0 var(--s) var(--s05) 0;
  max-width: 116px;

  @include large {
    margin-bottom: 0;
  }
}

.patreon-bar__button {
  background: #bd422f;
  color: var(--color-white);
  display: inline-block;
  border-radius: 50px;
  padding: 5px 20px;
  text-decoration: none;
  text-align: center;
  transition: all 0.15s;

  @media (prefers-reduced-motion) {
    transition: none;
  }

  &:hover {
    background: #af3c2a;
  }
}

.patreon-bar__close {
  @include buttonReset;

  opacity: 0.8;
  text-transform: uppercase;
  position: absolute;
  top: var(--s05);
  right: var(--s);
  transition: all 0.15s;

  @media (prefers-reduced-motion) {
    transition: none;
  }

  @include large {
    margin-left: auto;
    position: static;
  }

  &:hover {
    opacity: 1;
  }

  &__icon {
    display: inline-block;
    margin-left: var(--s025);
  }
}
