<section class="patreon-bar">
  <div class="patreon-bar__inner">
    <img src={{patreonLogo}} alt="Patreon" class="patreon-bar__logo">
    <a href="https://www.patreon.com/fate_srd" class="patreon-bar__button">Become a supporting member today</a>
    <button class="patreon-bar__close">Close for 30 days
      <i class="fas fa-times patreon-bar__close__icon"></i>
    </button>
  </div>
</section>
