.main-content-wrapper {
  background: var(--color-gray-light);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: var(--s2) calc(var(--s) * 1.5);
  scroll-behavior: smooth;

  @include medium {
    padding: var(--s3);
  }

  &--with-hero {
    padding: 0;

    .main-content--with-hero__content {
      padding: var(--s2) calc(var(--s) * 1.5);

      @include medium {
        padding: var(--s3) var(--s2);
      }
    }
  }

  &--store {
    background: transparent;
    box-shadow: none;
    padding: var(--s) 0 var(--s05) 0;
  }
}

.main-content__hero {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  width: 100%;
  height: 40vh;

  @include large {
    min-height: 350px;
  }
}

.rules-section {
  margin-bottom: var(--s05);
  font-size: 0.9rem;
  font-size: clamp(0.75rem, 2vw, 0.9rem);
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}

.page-title {
  margin-top: 0;
  font-size: clamp(2rem, 4.3vw, 3.555555556rem);
  line-height: 1;

  @include large {
    margin-bottom: var(--s2);
  }
}

.callout {
  @include calloutBoxes;

  background: var(--color-blue-light);
  border-radius: var(--border-radius);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.site-main__content {
  a,
  a:link {
    color: var(--color-blue);
    transition: all 0.15s;

    @media (prefers-reduced-motion) {
      transition: none;
    }

    &:hover {
      color: var(--color-blue-darker);
    }
  }
}
